
<h1 class="mat-display-1">Lista de Locais</h1>

<input class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="digite o local">
<br>

<div class="table-container mat-elevation-z8">
<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="imobiliaria">
      <mat-header-cell *matHeaderCellDef> Imobiliaria </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.imobiliaria}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="endereco">
      <mat-header-cell *matHeaderCellDef> Endereço </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.endereco}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tamanho">
      <mat-header-cell *matHeaderCellDef> Tamanho </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tamanho}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="valor">
      <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.precoTotal}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="detalhe">
    <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>

      <mat-cell *matCellDef="let element" style="">
        <div class="actions">
          <button mat-raised-button color="accent"
            [routerLink]="['/pontos/detalhe',element.id]"
            title="Detalhe" alt="Detalhe">
            Detalhe
          </button>
          </div>
     </mat-cell>

  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 50]"
               *ngIf="pontos.length!=0">
</mat-paginator>
<p id='nodata' *ngIf="pontos.length==0">Nenhum ponto cadastrado.</p>
</div>
<br>
<br>
