h1 {
  margin-top: 40px;
  margin-bottom: 25px;
}

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.actions{
  display: flex;
  justify-content: flex-end;
}

#nodata {
  margin: 20px;
}
